@font-face {
    font-family: Agency FB;
    src: url("../Fonts/Agency FB.ttf");
 }

body {
    background: url("../Images/background.jpg") no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: Agency FB;
}

h1 {
    margin-top: 7%;
    margin-bottom: 4%;
    font-size: 3vw;
    text-transform: uppercase;
}

h2 {
    font-size: 2vw;
    margin-top: 4%;
}

p {
    text-align: left;
    padding: 4%;
    font-size: 1.5vw;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 75%;
    margin: auto;
    color: #fff;
    text-align: center;
}

.game-logo {
    margin-top: 7%;
    width: 50%;
}

.screenshot {
    width: 40%;
    display: inline;
    padding: 3%;
}

.controls {
    padding: 4%;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.controls-column{
    width: 40%;
    margin-left: 13%;
}

.control {
    margin: 10%;
}

.controls-icons {
    font-size: 1.3vw;
    border-radius: 15%;
    border: 0.2vw solid #fff;
    display: inline;
    margin-right: 2%;
    padding: 1%;
}

.controls-icons-space {
    font-size: 1.3vw;
    border-radius: 15%;
    border: 0.2vw solid #fff;
    display: inline;
    width: 20%;
    padding: 1%;
}

.controls-text {
    padding: 0%;
    margin-left: -1%;
    font-size: 1.7vw;
    display: inline;
}

.controls-text-space {
    padding: 0%;
    margin-left: 1%;
    font-size: 1.7vw;
    display: inline;
}

.footer-text {
    font-size: 1.5vw;
}
